<include file="public/layout" />

<style type="text/css">
    html, body {
        overflow: visible;
    }

    a.btn {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #999;
        cursor: pointer !important;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        height: 20px;
        letter-spacing: normal;
        line-height: 20px;
        margin: 0 5px 0 0;
        padding: 1px 6px;
        vertical-align: top;
    }

    a.red:hover {
        background-color: #e84c3d;
        border-color: #c1392b;
        color: #fff;
    }

</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>添加支付方式</h3>
                <h5>管理员在后台添加一个新支付方式</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" action="{:U('Admin/payway/add')}" id="order-add" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>是否为虚拟商品</label>
                </dt>
                <dd class="opt">
                    <if condition="$goods['goods_id'] gt 0">
                        <if condition="$goods['is_virtual'] eq 1">
                            <span>是</span>
                            <input name="is_virtual" value="1" type="hidden" disabled="disabled">
                        <else/>
                            <span>否</span>
                            <input name="is_virtual" value="0" type="hidden" disabled="disabled">
                        </if>
                    <else/>
                    <div class="onoff">
                        <label for="is_virtual1" class="cb-enable <if condition='$goods.is_virtual eq 1'>selected</if>">是</label>
                        <label for="is_virtual0" class="cb-disable <if condition='$goods.is_virtual eq 0'>selected</if>">否</label>
                        <input class="is_virtual" id="is_virtual1" name="is_virtual" value="1" type="radio" <if condition="$goods[is_virtual] eq 1"> checked="checked"</if>>
                        <input class="is_virtual" id="is_virtual0" name="is_virtual" value="0" type="radio" <if condition="$goods[is_virtual] eq 0"> checked="checked"</if>>
                    </div>
                    </if>
                    <span class="err" id="err_is_virtual"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row virtual" style="display: none;">
                <dt class="tit">
                    <label>虚拟商品有效期至</label>
                </dt>
                <dd class="opt virtual">
                    <input id="virtual_indate" name="virtual_indate" value="{$goods[virtual_indate]|default=time()|date='Y-m-d',###}" class="input-txt" type="text">
                    <span class="err" id="err_virtual_indate"></span>
                    <p class="notic">虚拟商品可兑换的有效期，过期后商品不能购买，电子兑换码不能使用。</p>
                </dd>
            </dl>
            <dl class="row virtual" style="display: none;">
                <dt class="tit">
                    <label>虚拟商品购买上限</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$goods.virtual_limit}" class="t_mane" name="virtual_limit"
                           onKeyUp="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"
                           onblur="checkInputNum(this.name,1,10,'',1);" />
                    <span class="err" id="err_virtual_limit"></span>
                    <p class="notic">请填写1~10之间的数字，虚拟商品最高购买数量不能超过10个。</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em></em>支付方式</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="user_name" id="user_name" class="input-txt" placeholder="支付方式名称" />
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="consignee"><em>*</em>支付账号</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="consignee" id="consignee" class="input-txt" placeholder="支付账号" />
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="consignee"><em>*</em>付款码</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="consignee" id="consignee" class="input-txt" placeholder="支付账号" />
                </dd>
            </dl>
            <!-- <dl class="row">
                <dt class="tit">
                    <label for="consignee"><em>*</em>手机</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="mobile" id="mobile" class="input-txt" placeholder="收货人联系电话"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')" maxlength="11"/>
                </dd>
            </dl> -->
            <input type="hidden" name="order_id" value="{$order.order_id}">
            <div class="bot"><a href="JavaScript:void(0);" onClick="checkSubmit()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>

    </form>
</div>
<script type="text/javascript">

    $(function () {
        $("#order-add").validate({
            debug: false, //调试模式取消submit的默认提交功能
            focusInvalid: false, //当为false时，验证无效时，没有焦点响应
            onkeyup: false,
            submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
                var mobile = $('#mobile').val();
                if(!isMobile(mobile) || mobile.length != 11){
                    layer.alert('请填写正确手机号', {icon: 2});
                    return;
                }
            },
            ignore:":button",	//不验证的元素
            rules:{
                consignee:{
                    required:true
                },
                mobile:{
                    required:true
                },
            },
            messages:{
                consignee:{
                    required:"请填写支付方式"
                },
            }
        });
    });

    function checkSubmit(){
        $('#order-add').submit();
    }

    function delRow(obj){
        $(obj).parent().parent().parent().remove();
    }

    function checkStock(obj,stock_count){
        if(parseInt($(obj).val()) > stock_count){
            $(obj).val(stock_count)
        }
    }
</script>
</body>
</html>